.container {
  background: black;
  display: inline-block;
  border: 5px solid black;
  position: absolute;
  left: 35%;
  top: 15%;
}
.grid {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 10px;
  background: black;
}

.grid-squares {
  font-size: 140px;
  text-align: center;
  border: 1px solid #222;
  margin-bottom: 3px;
  cursor: pointer;
  background-color: white;
}

body {
  background-color: black;
}
#buttons {
  display: flex;
  position: absolute;
  top: 83%;
  left: 30%;
}
#score {
  color: #ffec42;
  font-size: 50px;
  text-align: center;
}
#start {
  width: 300px;
  border-radius: 40px;
  background-color: antiquewhite;
  cursor: pointer;
}
#restart {
  width: 300px;
  border-radius: 40px;
  background-color: antiquewhite;
  cursor: pointer;
}
.buttons {
  width: 300px;
  border-radius: 40px;
  background-color: antiquewhite;
  cursor: pointer;
}
.buttons:hover {
  color: red;
  box-shadow: sandybrown;
}
